<!DOCTYPE html>
{% load staticfiles %}
<html>
<title> first </title>
<link rel = stylesheet href = "{% static "css/css_style.css" %}" />
<body>

<p align = "justify">
Hi! Welcome to the innovation with python training.
</p>

{{read}}
<img src = "{% static "images\html.png" %}" alt = "html image problem" width = 110 height = 90/>
<img src = "{% static "images\python.jpg" %}" alt = "python image problem" width = 110 height = 90/>
<!-- *<img src = "{% static "images/html.png" %}" alt = "image problem" /> -->
</body>
</html>